/*  
table {
    border: #EAF2F8 5px solid;

  }
 
  table{
       border-collapse: separate;
       border-spacing: 12px;
  }
*/
/*  
.div1{
   height: 300px;
   width: 300px; 
   margin: 40px;
   padding: 30px;
   margin-right:100px;
   margin-bottom: 50px;
   background: darksalmon;
}

.div2{
    height: 300px;
    width: 300px; 
    margin: 40px;
    padding: 30px;
    margin-left: 150px;
    margin-top: 350px;
    background: darkturquoise;
}

.div3{
    height: 300px;
   width: 300px; 
   margin: 40px;
   padding: 30px;
   margin-right: 180px;
   margin-top: 240px;
   background: dimgrey;
}
*/
/*  
.div1{
height: 500px;
width: 500px;
background: yellow;
padding: 40px;
border: 2px;
box-sizing: border-box;
}

.div2{
height: 300px;
width: 300px;
background: green;
padding: 75px;
box-sizing: border-box;
position: absolute;
top:  50px;
left: 50px;
}

.div3{
height: 150px;
width: 150px;
background: blue;
border-style: dotted; 
box-sizing: border-box;
position: absolute;
top:  50px;
left: 50px;
}
*/